@model Gironkey.Models.ZoneQuery
@{
    ViewBag.Title = "Gironkey";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>So, what are we working on you may ask. Good question! Our goal is to solve Western Australia's current issue of housing shortage. In a weekend ...??? (some people asked). Well, here's the thing. If we don't start kicking the ball, we don't score a goal - simple as that.</p>
            <p>We are updating our ideas, our wants, our needs, our milestones, our high-fives, our midnight coffee's and apologetic calls to our better halfs, on here, by the hour.</p>
            <p>If you come for nothing other then just saying hello, we're cool with that. With that said, we are looking to kick some serious net ripping volleys; and damn, we are going to celebrate when we do.</p>
            <br/>
            <p>Talk to us, have fun with us, join us.</p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>

<fieldset>
    <legend>tblPortfolio</legend>
        
    Enter Address to search
    <div class="editor-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>
   
    <p>
        <input type="submit" value="Search" />
    </p>
</fieldset>

@*<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>*@
