@model Gironkey.Models.ZoneQuery
@{
    ViewBag.Title = "Gironkey";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>So, what are we working on you may ask. Good question! Our goal is to solve Western Australia's current issue of housing shortage. In a weekend ...??? (some people asked). Well, here's the thing. If we don't start kicking the ball, we don't score a goal - simple as that.</p>
            <p>We are updating our ideas, our wants, our needs, our milestones, our high-fives, our midnight coffee's and apologetic calls to our better halfs, on here, by the hour.</p>
            <p>If you come for nothing other then just saying hello, we're cool with that. With that said, we are looking to kick some serious net ripping volleys; and damn, we are going to celebrate when we do.</p>
            <br/>
            <p>Talk to us, have fun with us, join us.</p>
        </div>
    </section>
}
<h3>Enter Address to search:</h3>



<p>Today is: 
    @{
        var weekDay = DateTime.Now.DayOfWeek;
    }

    @weekDay</p>

@using (Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
   
         <div class="editor-label">
            @Html.LabelFor(model => model.LatLong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LatLong)
            @Html.ValidationMessageFor(model => model.LatLong)
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}


@*<div class="child"><a href="@Url.Action("Search", "Home")" >Search</a></div>*@




