@using System.Collections
@using Gironkey.Models
@model Gironkey.Models.ZoneQuery

@{
    ViewBag.Title = "title";
}

<h2>Search Results</h2>

<fieldset>
    <legend>Search Results</legend>

    @{
        var feature = ((Rootobject)ViewBag.Result).features.FirstOrDefault();
    }

    @if (feature != null)
    {
        
        if (Model.LatLong != null)
        {
            <p>Search results for @Html.Raw(Model.LatLong)</p>
        }
 
        <span>Lat: @Html.Raw(feature.properties.centlat)</span><br />
        <span>Long: @Html.Raw(feature.properties.centlong)</span> <br />
        <span>Property size (m²): @Html.Raw(feature.properties.area)</span> <br />
        <span>Address: @Html.Raw(feature.properties.address_no_from)@Html.Raw(feature.properties.address_no_from_suffix)
            @Html.Raw(feature.properties.rd_name) @Html.Raw(feature.properties.rd_type)
        </span>
    }


    @*    @if(IsPost) { 
     <p>Hello, the time is @DateTime.Now and this page is a postback!</p>
} else { 
     <p>Hello, today is: </p> @DateTime.Now
}*@



    <br />

    @*   <div class="display-label">
        @Html.LabelFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <br/>
    HouseNumber: @Html.Raw(((DataResult)ViewBag.Result).HouseNumber)<br/>
    Address1: @Html.Raw(((DataResult)ViewBag.Result).AddressOne)<br/>
    Address2: @Html.Raw(((DataResult)ViewBag.Result).AddressTwo)<br/>
    Suburb: @Html.Raw(((DataResult)ViewBag.Result).Suburb)<br/>
    State: @Html.Raw(((DataResult)ViewBag.Result).State)<br/>
    PostCode: @Html.Raw(((DataResult)ViewBag.Result).PostCode)<br/>
    Country: @Html.Raw(((DataResult)ViewBag.Result).Country)<br/>
    Lat: @Html.Raw(((DataResult)ViewBag.Result).Lat)<br/>
    Long: @Html.Raw(((DataResult)ViewBag.Result).Long)<br/>
    SquareMeterSize: @Html.Raw(((DataResult)ViewBag.Result).SquareMeterSize)<br/>
    ZoneCode: @Html.Raw(((DataResult)ViewBag.Result).ZoneCode)<br/>
    *@
    <br />

    Google Map place holder

</fieldset>
